{% extends "base.html" %}

{% block content %}
    {% for community in communities %}
        {{ community.name }}<br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if communities.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ communities.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ communities.number }} of {{ communities.paginator.num_pages }}.
            </span>

            {% if communities.has_next %}
                <a href="?page={{ communities.next_page_number }}">next</a>
                <a href="?page={{ communities.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}


