{% extends "contents/contents_base.html" %}

{% block content_body %}
    <ul class="list-group">
        {% for project in projects %}
        <li class="list-group-item">{{ project.name }}</li>
        {% endfor %}
    </ul>

    <nav aria-label="Page navagation">
        <ul class="pagination justify-content-center">
            <!--<span class="step-links">-->
                {% if projects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; 첫 페이지</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ projects.previous_page_number }}">{{ projects.previous_page_number }}</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&laquo; 첫 페이지</a>
                    </li>
                {% endif %}

                <span class="current">
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ projects.number }} <span class="sr-only">(current)</span></a>
                    </li>
                </span>

                {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ projects.next_page_number }}">{{ projects.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ projects.paginator.num_pages }}">마지막 페이지 &raquo;</a></li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">마지막 페이지 &raquo;</a>
                    </li>
                {% endif %}
            <!--</span>-->
        </ul>
    </nav>
{% endblock content_body %}


